@tailwind base;
@tailwind components;
@tailwind utilities;


/**************************left sidebar and right sidebar css position settings**************************************/
.left-bar{
    top: 70px;
    position: sticky;
    height: calc(100vh - 70px) ;
}
.right-bar{
    top: 70px;
    position: sticky;
    height: calc(100vh - 70px) ;

}
.right-bar::-webkit-scrollbar{
    display: none;
}
.left-bar::-webkit-scrollbar{
    display: none;
}

/**************************right sidebar css**************************************/

.stories::-webkit-scrollbar{
   display: none
}

.edit{
    -webkit-box-shadow:0px 0px 15px 1px rgba(0,0,0,0.09);
    -moz-box-shadow:0px 0px 15px 1px rgba(0,0,0,0.09);
    box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.09);

    border-radius: 20px;
}
